<div *ngIf="!isSubmit">
  <!--for toggling the form-->
  <form #addressForm="ngForm" (ngSubmit)="onSubmit(addressForm)">
    <!--template reference variable that contains all the form data-->
    <h1>ENTER DETAILS</h1>
    <hr />
    First Name
    <input type="text" name="firstname" [(ngModel)]="firstname" /><br /><br />
    Last Name
    <input type="text" [(ngModel)]="lastname" name="lastname" /><br /><br />
    Email &nbsp; &nbsp; &nbsp; &nbsp;
    <input type="text" name="email" [(ngModel)]="email" /><br /><br />
    <!--Marital status-->
    <div>
      Married
      <input type="radio" name="mstatus" [(ngModel)]="mstatus" value="Yes" />
      <label for="yes">Yes</label>
      <input type="radio" name="mstatus" [(ngModel)]="mstatus" value="No" />
      <label for="no">No</label>
      <!--Display only if married status-->
      <br />
      <div *ngIf="mstatus == 'Yes'">
        Spouse Name
        <input type="text" name="spousename" [(ngModel)]="spousename" />
      </div>
    </div>
    <br /><br />
    <!--select from dropdown-->
    <div>
      <label>Choose Location</label>
      &nbsp;<select name="location" [(ngModel)]="location">
        <option name="India">India</option>
        <option name="USA">USA</option>
        <option name="other">Other</option>
      </select>
      <div>
        <div *ngIf="location === 'India'">
          <br />
          Pincode <input type="text" name="pincode" />
        </div>
        <div>
          <div *ngIf="location !== 'India'">
            <br />
            Zipcode <input type="text" name="zipcode" />
          </div>
        </div>
      </div>
      <br /><br />
      <button type="submit" value="submit">Submit</button>
    </div>
  </form>
</div>
<!--referencing personal info component here makes it the child component and address component as the parent child-->
<app-personal-information
  *ngIf="isSubmit"
  [formInfo]="addressForm"
></app-personal-information>
