<div>
  <form>
    <h1>ENTER DETAILS</h1>
    <hr />
    First Name
    <input
      type="text"
      name="firstname"
      [(ngModel)]="firstname"
      firstname="name.value"
    /><br /><br />
    Last Name
    <input type="text" [(ngModel)]="lastname" name="lastname" /><br /><br />
    Email &nbsp; &nbsp; &nbsp; &nbsp;
    <input type="text" name="email" [(ngModel)]="email" /><br /><br />
    <!--Marital status-->
    <div>
      Married
      <input type="radio" name="mstatus" [(ngModel)]="mstatus" value="yes" />
      <label for="yes">Yes</label>
      <input type="radio" name="mstatus" [(ngModel)]="mstatus" value="no" />
      <label for="no">No</label>
      <!--Display only if married status-->
      <div *ngIf="mstatus === 'yes'">
        Spouse Name
        <input
          type="text"
          id="spousename"
          name="spousename"
          [(ngModel)]="spousename"
        />
      </div>
    </div>
    <br /><br />
    <!--select from dropdown-->
    <div>
      <label>Choose Location</label>
      &nbsp;<select
        name="selectlocations"
        [(ngModel)]="location"
        (change)="SelectLocation($event)"
      >
        <option [ngValue]="'india'">India</option>
        <option [ngValue]="'USA'">USA</option>
        <option [ngValue]="'other'">Other</option>
      </select>
      <div>
        <div *ngIf="location == 'india'">
          <br />
          Pincode <input type="text" id="pincode" />
        </div>
        <div>
          <div *ngIf="location === 'USA'">
            <br />
            Zipcode <input type="text" id="zipcode" />
          </div>
        </div>
      </div>
      <br /><br />
      <button type="submit" value="submit" (click)="onClickSubmit($event)">
        Submit
      </button>
    </div>

    <router-outlet></router-outlet>
  </form>
</div>
